$header_hight: 50px;
$bg_color: lightgray;

@mixin styling($sidebar_width, $screen_size) {
  header {
    background-color: royalblue;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: $header_hight;
    line-height: $header_hight;
    z-index: 5;
    font-size: 1.5rem;
    color: beige;
    .user-name {
      padding-left: 10px;
    }
    .archived-tasks {
      position: fixed;
      padding-right: 10px;
      @if $screen_size == 'big' {right: $sidebar_width};
      @if $screen_size != 'big' {right: 0};
    }
    div {
      display: inline-block;
    }
  }

  #sidebar {
    height: calc(100% - #{$header_hight});
    width: $sidebar_width;
    position: fixed;
    z-index: 4;
    top: $header_hight;
    left: 0;
    overflow-x: hidden;
    padding: 20px 10px 20px 10px;
    color: #818181;
    box-sizing: border-box;
    a {
      line-height: 1rem;
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 1rem;
      color: #555;
      display: block;
      &:hover {
        color: black;
        font-size: 1.1rem;
      }
    }
  }

  #main-tasks {
    font-size: 1rem;
    position: fixed;
    top: $header_hight;
    left: $sidebar_width;
    overflow: scroll;
    padding: 0 10px 10px;
    box-sizing: border-box;
    width: calc(100% - #{$sidebar_width});
    height: calc(100% - #{$header_hight});
    background-color: beige;
    z-index: 1;
    &:after {
      content: "";
      @if $screen_size == 'big' {display: inline-block};
      @if $screen_size != 'big' {display: none};
      width: $sidebar_width;
      height: 100%;
      position: fixed;
      right: 0;
      top: $header_hight;
      box-sizing: border-box;
      background-color: $bg_color;
    }
  }

  #add-new-task {
    margin: 10px 0;
    // @if $screen_size == 'big' {width: calc()};
    @if $screen_size != 'big' {width: 100%};
    @if $screen_size == 'big' {width: calc(100% - 25vw)};
    input[name=name] {
      @if $screen_size != 'small' {width: calc(100% - 92px - 20px)};
      @if $screen_size == 'small' {width: calc(100% - 10px)};
      border: 1px solid #bbb;
      height: 18px;
      @if $screen_size != 'small' {padding: 3px 6px};
      @if $screen_size == 'small' {padding: 3px 5px};
    }
    input[name=deadline] {
      @if $screen_size != 'small' {width: 90px};
      @if $screen_size == 'small' {width: 100%};
      text-align: center;
      border: 1px solid #bbb;
      height: 18px;
      padding: 3px 0;
      @if $screen_size != 'small' {margin-left: 5px};
      @if $screen_size == 'small' {margin-top: 10px};
    }

    button {
      -moz-border-radius:6px;
      -webkit-border-radius:6px;
      border-radius:6px;
      display:inline-block;
      cursor:pointer;
      font-family:Arial;
      font-size:15px;
      font-weight:bold;
      padding:6px 24px;
      margin-top: 10px;
      text-decoration:none;
      &:active {
        position:relative;
        top:1px;
      }
      &:focus {
        outline: none;
      }
      &.submit {
        -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
        -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
        box-shadow:inset 0px 1px 0px 0px #bbdaf7;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
        background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
        background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
        background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
        background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
        background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
        background-color:#79bbff;
        border:1px solid #84bbf3;
        color:#ffffff;
        text-shadow:0px 1px 0px #528ecc;

        &:hover {
          background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
          background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
          background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
          background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
          background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
          background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
          background-color:#378de5;
        }
      }

      &.cancel {
        margin-left: 15px;

        -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
        -webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
        box-shadow:inset 0px 1px 3px 0px #91b8b3;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
        background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
        background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
        background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
        background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
        background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
        background-color:#768d87;
        border:1px solid #566963;
        color:#ffffff;
        text-shadow:0px -1px 0px #2b665e;

        &:hover {
          background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
          background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
          background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
          background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
          background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
          background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
          background-color:#6c7c7c;
        }
      }
    }
  }

  html #add-new-project {
    padding-left: 12px;
    width: calc(100% - 30px);

    button {
      border-radius: 6px;
      display: inline-block;
      cursor: pointer;
      font-family: Arial;
      font-size: 15px;
      font-weight: bold;
      padding: 6px;
      text-decoration: none;

      @if $screen_size != 'small' {
        width: 70px;
        margin: 6px 0;
      };
      @if $screen_size == 'small' {
        width: 100%;
        margin: 3px 0;
      };

      &:active {
        position: relative;
        top: 1px;
      }
      &:focus {
        outline: none;
      }
      &.submit {
        margin-left: 3px;

        box-shadow: inset 0px 1px 0px 0px #bbdaf7;
        background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
        background-color: #79bbff;
        border: 1px solid #84bbf3;
        color: #ffffff;
        text-shadow: 0px 1px 0px #528ecc;

        &:hover {
          background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
          background-color: #378de5;
        }
      }

      &.cancel {
        margin-left: 5px;

        box-shadow: inset 0px 1px 3px 0px #91b8b3;
        background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
        background-color: #768d87;
        border:1px solid  #566963;
        color: #ffffff;
        text-shadow: 0px -1px 0px #2b665e;

        &:hover {
          background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
          background-color: #6c7c7c;
        }
      }
    }
  }

  html #add-new-task .priority.color {
    margin: 12px 13px 0 7px;
  }

  .task-field {
    border-bottom: 3px solid #818181;
    box-shadow: 1px 2px 5px #888;
    background-color: #eaeace;
    margin-bottom: 5px;
    position: relative;
    @if $screen_size != 'big' {width: calc(100% - 10px)};
    @if $screen_size == 'big' {width: calc(100% - 25vw - 10px)};
  }

  .task.done input[name=name] {
    color: red;
    text-decoration: line-through;
  }

  .task, #add-new-task {
    margin: 10px 0;
    display: inline-block;
    margin-left: 5px;
    width: calc(100% - 30px);
    // @if $screen_size != 'big' {width: calc(100% - 30px)};
    // @if $screen_size == 'big' {width: calc(100% - 25vw - 30px)};

    .priority {
      font-size: 1.3rem;
      &.color {
        width: 24px;
        height: 24px;
        display: inline-block;
        vertical-align: top;
        border-radius: 12px;
        margin-right: 14px;
        &.priority-0 {background-color: red};
        &.priority-1 {background-color: orange};
        &.priority-2 {background-color: green};
      }
      &.select {
        border: 1px solid lightgray;
        width: 38px;
        margin-top: -1px;
        &:disabled {
          border: none;
          background-color: transparent;
          -webkit-appearance: none;
          appearance: none;
        }
      }
    }

    input[name=name] {
      @if $screen_size != 'small' {width: calc(100% - 92px - 20px - 24px - 14px - 100px - 20px)};
      @if $screen_size == 'small' {width: calc(100% - 10px)};
      border: 1px solid #bbb;
      height: 18px;
      @if $screen_size != 'small' {padding: 3px 6px};
      @if $screen_size == 'small' {padding: 3px 5px};
      &:disabled {
        margin-left: 2px;
        background-color: transparent;
        border: none;
      }
    }
    input[name=deadline] {
      @if $screen_size != 'small' {width: 90px};
      @if $screen_size == 'small' {width: 100%};
      text-align: center;
      border: 1px solid #bbb;
      height: 18px;
      padding: 3px 0;
      @if $screen_size != 'small' {margin-left: 5px};
      @if $screen_size == 'small' {margin-top: 10px};
      &:disabled {
        margin-left: 6px;
        background-color: transparent;
        border: none;
      }
    }
    input[type=color] {
      background-color: transparent;
      border: none;
      width: 16px;
      height: 20px;
      @if $screen_size == 'small' {
        position: absolute;
        right: 123px;
        top: 11px;
      };
    }
    .project {
      height: 26px;
      width: 100px;
      @if $screen_size == 'small' {
        position: absolute;
        top: 10px;
        right: 23px;
      };
      &:disabled {
        margin-left: 9px;
        width: 91px;
        border: none;
        background-color: transparent;
        -webkit-appearance: none;
        appearance: none;
      }
    }
  }

  .task-menu {
    display: inline-block;
    font-size: 1rem;
    width: 15px;
    text-align: center;
    position: absolute;
    line-height: 46px;
    margin: 0 5px;

    // @if $screen_size == 'small' {margin-top:18px};
    i.dots {display: inline;}
    i.edit, i.delete, i.to-do, i.done {
      display: none;
    }
    i.disabled {
      color: grey;
    }
    &:hover {
      margin-left: -85px;
      width: 115px;
      i.dots {display: none;}

      .tooltip {
        text-align: left;
        background: #88b7d5;
        border: 4px solid #c2e1f5;
        width: 85px;
        margin-top: 4px;
        line-height: 30px;
        &:after, &:before {
          left: 100%;
          top: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          margin-left: -26px;
        }

        &:after {
          border-color: rgba(136, 183, 213, 0);
          border-left-color: #88b7d5;
          border-width: 10px;
          margin-top: -7px;
        }
        &:before {
          border-color: rgba(194, 225, 245, 0);
          border-left-color: #c2e1f5;
          border-width: 16px;
          margin-top: -13px;
        }

        i.edit, i.delete, i.to-do, i.done {
          display: inline-block;
          line-height: 1.5rem;
          margin-left: 10px;
          cursor: pointer;
        }
        i.edit:hover:not(.disabled) {
          color: darkorange;
        }
        i.delete:hover {
          color: red;
        }
        i.to-do:hover {
          color: greenyellow;
        }
        i.done:hover {
          color: red;
        }
      }
    }
  }

  .project, #add-new-project {
    width: calc(100% - 18px);
    display: inline-block;

    input[type=color] {
      background-color: transparent;
      border: none;
      width: 16px;
      height: 20px;;
    }

    input[type=text] {
      width: calc(100% - 25px);
      margin: 3px 0;
      color: #555;
      border: none;
      &:disabled {
        background-color: transparent;
      }
      line-height: 1.5rem;
    }
  }

  .project-menu {
    display: inline-block;
    font-size: 1rem;
    width: 15px;
    text-align: center;
    position: absolute;
    line-height: 30px;
    margin: 0 5px;
    text-align: left;

    i.dots {display: inline;}

    i.edit, i.delete {
      display: none;
    }

    i.disabled {
      color: lightgrey;
    }

    &:hover {
      margin-left: -68px;
      width: 88px;
      i.dots {display: none;}

      .tooltip {
        background: #88b7d5;
        border: 4px solid #c2e1f5;
        width: 58px;
        margin-top: -4px;

        &:after, &:before {
          left: 100%;
          top: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          margin-left: -26px;
        }

        &:after {
          border-color: rgba(136, 183, 213, 0);
          border-left-color: #88b7d5;
          border-width: 10px;
          margin-top: -10px;
        }
        &:before {
          border-color: rgba(194, 225, 245, 0);
          border-left-color: #c2e1f5;
          border-width: 16px;
          margin-top: -16px;
        }

        i.dots {display: none;}
        i.edit, i.delete {
          display: inline-block;
          line-height: 1.5rem;
          margin-left: 10px;
          cursor: pointer;
        }
        i.edit:hover:not(.disabled) {
          color: darkorange;
        }
        i.delete:hover {
          color: red;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  @include styling($sidebar_width: 160px, $screen_size: 'small');
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  @include styling($sidebar_width: 200px, $screen_size: 'middle');
}

@media screen and (min-width: 901px) {
  @include styling($sidebar_width: 25%, $screen_size: 'big');
}

html {
  background-color: $bg_color;
  font-size: 14px;
  overflow: hidden;
}
html body {
  font-family: "Lato", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 12px;
}

.show-form-add-task, .show-form-add-project {
  color: red;
  font-weight: bold;
  letter-spacing: 2px;
  display: inline-block;
  cursor: pointer;
  margin: 10px 0;
  .plus {
    font-size: 1.3rem;
  }
}
