<header class="navbar navbar-fixed-top">
  <div class="logo">
    <p>to do: add img</p>
  </div>
  <div class="user-name">
    <p>to do: add user name</p>
  </div>
  <div class="archived-tasks">
    <p>to do: add img</p>
  </div>
</header>
